<mat-toolbar>
  Meu app
  <div class="wrapper-main">
    <ng-container  *ngIf="(autheticated$ | async) && (user$ | async)">
      <button mat-icon-button routerLink="/main/people">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/main/products">
        <mat-icon>shop</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <p class="username">{{(user$ | async)?.email}}</p>
        <mat-divider></mat-divider>
        <button mat-menu-item  (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </mat-menu>
    </ng-container>

    <ng-container  *ngIf="!(autheticated$ | async)">
      
      <button mat-icon-button routerLink="/auth/register">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button routerLink="/auth/login">
        <mat-icon>input</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
